//  字体大小 size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
// 字体加粗
$font-bold: bold;
//  色调colors
$brand: #3b3f4f; // 品牌色
$main: #53a7f8; // 主色调
$auxil: #51c291; // 辅助色 完成
$remind: #f9dc71; // 辅助色 提醒
$error: #e53e48; // 辅助色报错
$bjolor: #ebebeb; // 整站背景色
$border-color: #ebeef3; // 描边及线条色
$background: #FAFAFA; //主体背景色
//  字体fonts
$font-color: #3a405b;
$font-input-color: #999;
$font-btn-fff: #fff;
//  表单forms
// sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;
/*首页--start*/
$index-padding: 25px 20px; //首页内边距
/*首页--end*/
/*左侧导航栏--start*/
$side-menu-width: 60px; //左侧导航栏的宽度
$side-menu-background: #24292F; //左侧导航栏的背景色
/*左侧导航栏--end*/
/*头部导航栏--start*/
$header-background: #ffffff; //头部导航背景色
$header-height: 50px//头部导航栏的高度
/*头部导航栏--end*/